@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
    font-family: "Work Sans", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
/* Shared Styles */
.btn {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 2.4rem;
  background-color: #FF900E;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.imgs {
  max-width: 100%;
}


.head {
  padding: 4rem 20rem;
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .brand {
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.navbar a {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #424242;
}

.head .head_section {
  margin-top: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head .head_section .head_content {
  max-width: 860px;
  margin-bottom: 3rem;
}
.head .head_section .head_content h1 {
  font-size: 6.4rem;
  font-weight: bold;
  color: #131313;
}
.head_content p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #727272;
  margin: 2.8rem 0;
}

@media screen and (max-width: 65.625rem) and (min-width: 51.875rem) {
  html {
    font-size: 50%;
  }
  .head {
    padding: 4rem 15rem;
  }
}
@media screen and (max-width: 51.875rem) and (min-width: 36rem) {
  html {
    font-size: 40%;
  }
  .head {
    padding: 4rem 12rem;
  }
  .head .head_section .head_content h1 {
    font-size: 6.8rem;
  }
  .head .head_section .head_content p{
    font-size: 2rem;
  }
}
@media screen and (max-width: 36rem) {
  html {
    font-size: 31.25%;
  }
  .head {
    padding: 2rem 4rem;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar .brand {
    font-size: 5.5rem;
    margin-bottom: 2rem;
  }
  .navbar ul li a {
    font-size: 3rem;
  }
  .head .head_section {
    margin-top: 5rem;
  }
  .head .head_section .head_content h1 {
    font-size: 7rem;
  }
  .head .head_section .head_content p{
    font-size: 2.5rem;
  }
}