@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
    font-family: "Work Sans", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
/* Shared Styles */
.btn {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 2.4rem;
  background-color: #FF900E;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.imgs {
  max-width: 100%;
}


.head {
  padding: 4rem 20rem;
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .brand {
  font-size: 4rem;
  font-weight: bold;
  color: #131313;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.navbar a {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #424242;
}

.head .head_section {
  margin-top: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head .head_section .head_content {
  max-width: 860px;
  margin-bottom: 3rem;
}
.head .head_section .head_content h1 {
  font-size: 6.4rem;
  font-weight: bold;
  color: #131313;
}
.head_content p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #727272;
  margin: 2.8rem 0;
}
.section1 {
  padding: 9rem 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.section1 .team {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  gap: 2rem;
}
.section1 .features {
  max-width: 40rem;
}
.section1 .features .feature_title {
  font-size: 4.5rem;
  font-weight: bold;
  color: #131313;
}
.feature_title .span_1 {
  color: #727272;
  font-weight: 500;
}
.feature_title .span_2 {
  color: #FF900E;
}
.features .feature_description {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #727272;
  margin: 2rem 0 3rem 0;
}
.section2 {
  padding: 9rem 10rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.section2 .main_features {
  max-width: 586px;
  max-height: 982px;
}
.section2 .main_features .feature_head {
  font-size: 4.5rem;
  color: #131313;
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}
.main_features .feature_details,
.section3 .fact_details {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #727272;
  margin: 2rem 0 3rem;
}
.main_features .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main_features .cards .card {
  padding: 3rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
}
.cards .card .card_head {
  font-size: 2rem;
  font-weight: 600;
  color: #131313;
  margin-bottom: 1rem;
}
.cards .card .card_content {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #727272;
}
.section2 .feature_img {
  padding-left: 6rem;
  padding-bottom: 6rem;
  position: relative;
}
.section2 .feature_img .exbtn {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 5rem;
  font-weight: bold;
  padding: 3rem 4rem 2rem;
  line-height: 3.5rem;
}
.section2 .feature_img .exbtn span {
  font-size: 2rem;
  font-weight: 500;
}
.section3 {
  margin: 10rem 0 15rem;
  padding: 4rem 20rem;
}
.section3 .fact_head {
  font-size: 4.5rem;
  color: #131313;
  font-weight: bold;
}
.section3 .fact_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
}
.fact_container .facts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  place-items: center;

  border: 1px solid #FF900E;
  border-radius: 8px;
  padding: 3rem;

  width: 24.2rem;
  height: 24.2rem;
}
.facts h2 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #131313;
}
.facts p {
  font-size: 2rem;
  font-weight: 600;
  color: #727272;
}

                          /* media queries */

/* large device */
@media screen and (max-width: 65.625rem) and (min-width: 51.875rem) {
  html {
    font-size: 50%;
  }
  .head, .section1 {
    padding: 4rem 15rem;
  }
  .section2 {
    padding: 9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }
  .section3 {
    margin: 5rem 0 10rem;
    padding: 4rem 20rem;
    text-align: center;
  }
  .section3 .fact_head {
    font-size: 6rem;
  }
  .section3 .fact_details {
    font-size: 2rem;
    margin-bottom: 8rem;
  }
}

/* mid devive */
@media screen and (max-width: 51.875rem) and (min-width: 36rem) {
  html {
    font-size: 40%;
  }
  .head, .section1 {
    padding: 4rem 12rem;
  }
  .head .head_section .head_content h1 {
    font-size: 6.8rem;
  }
  .head .head_section .head_content p{
    font-size: 2rem;
  }
  .section2 {
    padding: 9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }
  .section3 {
    margin: 5rem 0 10rem;
    padding: 4rem 15rem;
    text-align: center;
  }
  .section3 .fact_head {
    font-size: 6rem;
  }
  .section3 .fact_details {
    font-size: 2rem;
    margin-bottom: 8rem;
  }
}

/* small device */
@media screen and (max-width: 36rem) {
  html {
    font-size: 31.25%;
  }
  .btn {
    font-size: 2.5rem;
    padding: 2.2rem 3rem;
  }
  .head {
    padding: 2rem 4rem;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar .brand {
    font-size: 5.5rem;
    margin-bottom: 2rem;
  }
  .navbar ul li a {
    font-size: 3rem;
  }
  .head .head_section {
    margin-top: 5rem;
  }
  .head .head_section .head_content h1 {
    font-size: 7rem;
  }
  .head .head_section .head_content p{
    font-size: 2.5rem;
  }
  .section1 {
    padding: 8rem 0;
    flex-direction: column-reverse;
  }
  .section1 .team {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .team .item .imgs {
    border: 3px solid rgba(0, 0, 0, 0.39);
    border-radius: 10px;
  }
  .section1 .features {
    max-width: 80%;
    text-align: center;
  }
  .section1 .features .feature_title {
    font-size: 9rem;
  }
  .features .feature_description {
    font-size: 3rem;
    line-height: 4rem;
  }
  .section2 {
    padding: 9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }
  .section2 .main_features .feature_head {
    font-size: 6.5rem;
  }
  .main_features .feature_details, 
  .cards .card .card_content, 
  .section3 .fact_details {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .main_features .feature_details {
    margin-bottom: 5rem;
  }
  .main_features .cards {
    gap: 3rem;
  }
  .main_features .cards .card {
    padding: 4.5rem;
    border: 2px solid rgba(0, 0, 0, 0.253);
  }
  .cards .card .card_head {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
  .section3 {
    margin: 5rem 0 10rem;
    padding: 4rem 10rem;
    text-align: center;
  }
  .section3 .fact_head {
    font-size: 8rem;
  }
  .section3 .fact_details {
    font-size: 3.5rem;
    margin-bottom: 8rem;
  }
}

/* very small device */
@media (max-width:418px) {
  .section2 .main_features .feature_head {
    font-size: 5rem;
  }
   .main_features .feature_details {
    margin-bottom: 2rem;
  }
  .main_features .cards {
    gap: 2rem;
  }
  .main_features .cards .card {
    padding: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.253);
  }
  .cards .card .card_head {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
}